/jars
/export
/out
/eclipse
/eclipse
src/minecraft/cleanCatClient/mods/impl/PlayerDistance.java

src/minecraft/cleanCatClient/mods/impl/ItemMaker.java
/target
tools/addByte.py
tools/FontDataImported.java
